.scores-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    height: 6rem;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.25);
    color: #161617;
}

   /* Hide scrollbar for Chrome, Safari and Opera */
.scores-carousel::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .scores-carousel {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 
  
  .teams {
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
    align-items: center;
    margin-bottom: 4px;
    font-weight: 600;
    gap: 0.25rem;
  }
  
  .team {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: 0.75rem;
  }
  
  .team img {
    width: 24px;
    height: 24px;
  }
  
  .score {
    font-weight: bold;
    font-size: 1.1em;
    align-self: center;
    justify-self: center;
  }

  .division-dot {
    width: 75%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--color-red);
    align-self: center;
    justify-self: center;
  }
  
  .status {
    text-align: center;
    font-size: 0.85em;
    color: #555;
    margin-top: 6px;
  }



  .filter-controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .filter-controls select {
    background-color: var(--color-lightgrey);
    border: none;
    padding: 6px 12px;
    font-size: 1rem;
  }






  .date-separator {
    font-family: var(--font-header);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 45px;
    padding: 0 12px;
    background: lightgrey;
    /* border-radius: 6px; */
    font-weight: bold;
    text-align: center;
    align-self: center;
    /* margin-right: 12px; */
    /* flex-shrink: 0; */
    height: 100%;
    color: black;
    border-right: 1px solid lightgrey;
    font-size: 0.85rem;
  }

  .day-of-week {
    font-weight: 400;
    text-transform: uppercase;
  }
  
  .scores-carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 10px 0;
    height: 100%;
  }
  
  .scores-carousel {
    display: flex;
    overflow-x: auto;
    /* gap: 16px; */
    scroll-behavior: smooth;
    padding: 0 40px;
    font-family: var(--font-header);
    height: 100%;
  }
  
  .score-card {
    min-width: 155px;
    background: white;
    padding: 12px;
    border-right: 1px solid lightgrey;
    /* border-radius: 8px; */

    /* box-shadow: 0 1px 4px rgba(0,0,0,0.1); */
    /* flex-shrink: 0; */
  }
  
  .scroll-button {
    position: absolute;
    /* transform: translateY(-50%); */
    height: 6rem;
    z-index: 1;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    padding: 0 10px;
    background-color: white;
    font-size: 0.85rem;
  }
  
  .scroll-button.left {
    left: 0;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
  }
  
  .scroll-button.right {
    right: 0;
    border-left: 1px solid lightgrey;
  }
  
  .date-jump {
    margin-bottom: 10px;
  }
  
  .date-jump select {
    padding: 6px 10px;
    font-size: 1rem;
  }
  