.game-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: var(--font-header);
    margin-top: 1rem;
    /* margin-bottom: 20px; */
  }
  
  .game-header__date-status {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .game-header__date {
    font-size: 1rem;
    font-weight: bold;
    font-weight: 600;
  }
  
  .game-status {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: 600;
  }
  
  .game-status.scheduled {
    background-color: #3b3b3b;
    color: #ffffff;
  }
  
  .game-status.live {
    background-color: #ff4757;
    color: #ffffff;
  }
  
  .game-status.final {
    background-color: var(--color-ui-blue);
    color: #ffffff;
  }
  
  .game-status.ot,
  .game-status.so {
    background-color: #ffa502;
    color: #ffffff;
  }
  
  .game-header__teams {
    display: grid;
    grid-template-columns: 2fr 6fr 1fr 3fr 1fr 6fr 2fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    /* margin-top: 15px; */
  }
  
  .team {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .home-team {
    justify-self: flex-start;
  }
  
  .away-team {
    justify-self: flex-end;
  }
  
  .team-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }
  
  .team-info {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* text-align: left; */
  }

  .team-name__gameHeader {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
  
  .team-mascot__gameHeader {
    font-size: 1rem;
    /* color: #bbbbbb; */
  }

  .team-score {
    font-size: 5rem;
    font-weight: bold;
    color: #ffffff;
    justify-self: center;
  }

  .header-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .game-team-logo {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
  }
  
  /* .vs-indicator {
    font-size: 1.4rem;
    font-weight: bold;
    color: #ffffff;
  }
   */