.team-stats-comparison {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-header);
    /* padding: 20px; */
    /* background-color: #f8f9fa; */
    /* border-radius: 10px; */
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
  }
  
  .team-stats-header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
  }

  .team-stats-header img{
    aspect-ratio: 1/1;
  }

  .team-stats-header h1 {
    margin: 0;
  }
  
  .team-stats-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem 0;
  }

  .team-row__teamStats {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    width: 100%;
  }

  .content__teamStats {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    align-items: center;
    justify-items: center;
  }

  .stats-bar {
    position: relative;
    height: 5px;
    border: 1px solid lightgrey;
    width: 100%;
    background-color: var(--color-primary);
  }

  .seperator {
    position: absolute;
    width: 0.5rem;
    background-color: var(--color-red);
    height: 100%;
    right: 0;
  }

  .home__teamStats {
    justify-self: start;
  }

  .away__teamStats {
    justify-self: end;
  }

  .stat__teamStats {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .team-column,
  .stat-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .team-stat-value,
  .stat-label {
    padding: 10px;
    background-color: #e9ecef;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
  }
  
  .team-stat-value {
    font-weight: bold;
  }
  
  .stat-label {
    font-weight: normal;
    background-color: #ced4da;
  }

  .powerplay-rate {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
  }

  .powerplay-value {
    display: ruby;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
  }
  