/* src/styles/StatTable.css */

.roster-table {
    margin: 1rem 0;
    padding: 1rem;
    background: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
  
  .roster-table h3 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    color: #222;
  }
  
  .roster-table-header,
  .roster-table-row {
    /* display: flex; */
    display: grid;
    grid-template-columns: 10fr 1fr 1fr 2fr 1fr 1fr;
    padding: 0.75rem 1rem;
  }
  
  .roster-table-header {
    background-color: #eaeaea;
    /* border-radius: 8px; */
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    font-weight: bold;
    cursor: pointer;
  }

  
  .roster-table-row {
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s ease;
  }
  
  /* .roster-table-row:last-child {
    border-bottom: none;
  } */
  
  .roster-table-row:hover {
    background-color: var(--color-ui-lightgrey);
  }
  
  .roster-table-cell {
    display: flex;
    align-items: center;
    flex: 1;
    text-align: left;
    /* padding: 0 0.5rem; */
    font-size: 0.95rem;
    color: #333;
  }

  .roster-portrait {
    position: relative;
    /* display: flex;
    align-items: end;
    justify-content: center; */
    width: 3rem;
    height: 3rem;
    background-color: var(--color-ui-lightgrey);
    /* border: 1px solid lightgrey; */
    box-shadow: 0 0 0 1px lightgrey;
    border-radius: 50%;
    overflow: clip;
  }

  .roster-portrait img{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0.2rem;
    /* height: 95%;
    width: 95%;   */
  }
  
  .roster-name-cell {
    display: flex;
    gap: 1rem;
  }

  .roster-table-header-cell {
    color: #111;
    font-size: 0.95rem;
    font-weight: 600;
    transition: var(--transition-main);
  }

  .roster-table-header-cell:hover {
    color: var(--color-ui-blue);
  }
  