.footer_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100vw;
    /* height: 55vh; */
    background-color: var(--color-primary);
    margin-top: 2rem;
    padding: 2.5rem 0;
}

.footer_content {
    display: flex;
    flex-direction: column;
    width: 1280px;
    gap: 4.5rem;
    height: 100%;
    /* padding: 1rem 0; */
}

.footer_bg {
    position: relative;
    height: 5rem;
    width: 100%;
    /* margin-top: 1rem; */
    background-image: url(/ice_texture_footer.png);
    mix-blend-mode: overlay;
    opacity: 0.5;
}

.footer_container::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 45%;
    background: linear-gradient(0deg, black, rgba(0, 0, 0, 0));
    mix-blend-mode: overlay;
    opacity: 0.25;
}

.footer_grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2rem;
    /* height: 90%; */
    padding: 3.5rem 0 0 0;
}

.footer_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-header);
    font-weight: 800;
    font-size: 1.5rem;
    color: white;
    gap: 1rem;
}

.footer_icon {
    width: 65%;
}

.link_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 0 2rem;
}

.footer_info {
    align-self: center;
}

.footer_info ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    color: white;
    padding: 1rem 0;
    width: 100%;
}

.footer_info li{
    padding: 0 2.5rem;
    cursor: pointer;
}

.link_grid ul:nth-of-type(2){
border-right: 1.5px solid #131b5e;
border-left: 1.5px solid #131b5e;
/* background-color: aqua; */
}

.footer_info ul li:hover{
    transition: var(--transition-main);
}

.footer_info ul li:hover{
    color: var(--color-red);
}

.footer_icon {
    height: 7.5rem;
    aspect-ratio: 1/1;
}

.footer_copywrite {
    display: flex;
    color: white;
    justify-content: end;
    align-self: end;
    gap: 1rem;
    font-size: 0.9rem;
}

.footer_copywrite a {
    text-decoration: none;
    color: white;
}

/* .footer_bg {
    background-image: url(/ice_texture2.png);
    background-size: cover;
    width: 100%;
    height: 45%;
    margin-top: 2rem;
    mix-blend-mode: overlay;
} */