.standings-table {
    /* margin-top: 2rem; */
    border: 1px solid lightgrey;
    border-radius: var(--border-radius);
    overflow: hidden;
    background: white;
  }

  .standings-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    background: white;
    margin: 0;
    padding: 10px 1.5rem;
    border-bottom: 1px solid lightgrey;
    color: var(--color-primary);
  }

  .standings-title img {
    width: 3.5rem;
    aspect-ratio: 1/1;
  }
  
  .standings-table-header,
  .standings-row {
    display: grid;
    grid-template-columns: 1fr 12fr repeat(6, 2fr);
    padding: 10px 16px;
    border-bottom: 1px solid lightgrey;
    font-size: 0.9rem;
    gap: 1rem;
    transition: var(--transition-main);
  }

  .standings-row:hover {
    background-color: var(--color-ui-lightgrey);
  }

  .standings-row:last-child {
    border: none;
  }
  
  .standings-table-header {
    font-weight: bold;
    background: var(--color-ui-lightgrey);
    cursor: pointer;
    user-select: none;
    padding: 0 1rem;
  }
  
  .standings-table-header .cell:hover {
    color: var(--color-ui-blue)
  }


  .team-column__standingsTable {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  /* .team-column {
    font-weight: 500;
  } */
  

  .team-column__standingsTable img{
    width: 2.5rem;
    aspect-ratio: 1/1;
  }
  
  .cell, .header-cell {
    display: flex;
    align-items: center;
    /* padding: 4px 8px; */
  }

  .header-cell {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    position: relative;
    width: 100%;
    transition: var(--transition-main);
  }

  .header-cell:hover {
    color: var(--color-ui-blue);
  }

  .team-rank {
    background-color: var(--color-ui-lightgrey);
    justify-content: center;
    margin: 0.25rem;
  }

  .team-points, .team-wins, .team-losses, .team-ot, .team-gf, .team-ga {
    justify-content: center;
  } 


  .animated-row {
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .animated-row.sorting {
    opacity: 0.075;
    transform: scale(0.97, 1);
  }
  