/* src/styles/StatTable.css */
.roster-table {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.roster-group {
  border: 1px solid lightgrey;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.roster-table h1 {
  font-size: 2rem;
  color: var(--color-primary);
}

.roster-table-header,
.roster-table-row {
  display: grid;
  grid-template-columns: 10fr 1fr 1fr 2fr 1fr 1fr;
  padding: 0.5rem 1rem;
}

.roster-table-header {
  background-color: var(--color-ui-lightgrey);
  border-bottom: 1px solid lightgrey;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--color-ui-lightgrey);
  padding: 0 1rem;

}


.roster-table-row {
  font-weight: 500;
  border-bottom: 1px solid lightgrey;
  transition: background-color 0.2s ease;
}

.roster-table-row:last-child {
  border-bottom: none;
}

.roster-table-row:hover {
  background-color: var(--color-ui-lightgrey);
}

.roster-table-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: left;
  font-size: 0.95rem;
  color: #333;
}

.roster-portrait {
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: var(--color-ui-lightgrey);
  box-shadow: 0 0 0 1px lightgrey;
  border-radius: 50%;
  overflow: clip;
}

.roster-portrait img {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0.2rem;
}

.roster-name-cell {
  display: flex;
  gap: 1rem;
  justify-self: start;
}

.roster-table-header-cell {
  color: #111;
  font-size: 0.95rem;
  font-weight: 600;
  transition: var(--transition-main);
  user-select: none;
}

.roster-table-header-cell:hover {
  color: var(--color-ui-blue);
}

.roster-group h3 {
  color: var(--color-primary);
}

.roster-table-body {
  border-radius: 0 0 5px 5px;
}

.roster-header-cell {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  position: relative;
  width: 100%;
  transition: var(--transition-main);
}

.roster-header-cell:nth-of-type(1) {
  justify-content: start;
}