.game-summary {
    display: grid;
    grid-template-columns: 4fr 2fr;
    background-color: white;
    /* color: #ffffff; */
    /* padding: 20px; */
    border-radius: 8px;
    /* margin-bottom: 20px; */
    gap: 2rem;
    font-family: var(--font-header);
  }


  .controls__gameSummary {
    display: flex;
    gap: 1rem;
    /* padding: 1rem 0; */
    border-bottom: 1px solid lightgrey;
    margin-top: 1.5rem;
}

.controls-btns__gameSummary {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    text-align: center;
    user-select: none;
    /* display: flex;
    justify-content: space-between; */
}

.control-btn__gameSummary {
    all: unset;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    transition: var(--transition-main);
    position: relative;
    font-weight: 500;
    color: var(--color-ui-grey);
    cursor: pointer;
}

.btn-selected__gameSummary {
    position: relative;
    font-weight: 600;
    color: var(--color-ui-black);
}



.control-btn__gameSummary::after {
    content: "";
    position: absolute;
    bottom: -1.5px;
    left: 0;
    right: 0;
    width: 0;
    height: 3px;
    border-radius: 3px;
    background-color: var(--color-ui-blue);
    opacity: 0;
    transition: var(--transition-main);

    /* box-shadow: 0 3px 0 0 var(--color-ui-blue); */
}

.btn-selected__gameSummary:after {
    opacity: 1;
    width: 100%;
}




  .summary-main h1{
    margin-bottom: 1rem;
  }

  .summary-sideBar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .game-summary h2 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    text-align: center;
  }
  
.scoring-summary {
    margin-bottom: 20px;
  }

  .period-breakdown {
    background-color: white;
    color: var(--color-ui-black);
    /* padding: 0 0 2rem 0; */
  }

  .period-breakdown h3 {
    margin-top: 0;
  }

  .line-score-row:nth-last-of-type(1) {
    border-top: none;
  }

  .period-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .period-section h3 {
    margin: 0;
  }

  .scoring-grid {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .period-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .period-scores:last-of-type {
    font-weight: 700;
  }

  .line-score-team {
    display: flex;
    flex-direction: column;
  }

  .line-score-header, .line-score-row {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 1rem;
  }

  .line-score-header {
    border-top: 1px solid lightgrey;
    margin-top: 2rem;
  }

  .header-label {
    font-weight: 700;
  }

  .line-score-row {
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
  }


  .line-score-name {
    justify-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    gap: 1rem;
    font-size: 1.1rem;
  }

  .line-score-name img {
    width: 2rem;
    aspect-ratio: 1/1;
  }
  
  .period-row, .scoring-event {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* background-color: #2e2e2e; */
    border-radius: 5px;
  }
  
  .scoring-event {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    gap: 1rem;
    border: 1px solid lightgrey;
    padding: 1rem;
    gap: 1rem;
  }

  .scoring-score-tile, .scoring-time-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-ui-lightgrey);
    /* width: 100%; */
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: 300;
  }
  
  .scoring-period, .scoring-team, .scoring-player {
    flex: 1;
  }

  .scoring-player {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .scoring-score, .scoring-time {
    font-weight: 600;
    /* font-size: 1.1rem; */
  }

  .scoring-score span {
    font-weight: 800;
  }
  
  .player-name {
    font-weight: bold;
  }

  .scoring-portrait {
    position: relative;
    width: 4.5rem;
    aspect-ratio: 1/1;
    border: 1px solid lightgrey;
    border-radius: 50%;
    overflow: clip;
  }
  .scoring-portrait img{
    position: absolute;
    bottom: -0.25rem;
  }

  .scoring-player-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 1.1rem;
  }
  
  .scoring-assists {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    color: var(--color-ui-grey);
    display: flex;
  }

  .scoring-assists img {
    aspect-ratio: 1/1;
    width: 1.5rem;
  }
  
  .no-events {
    text-align: center;
    padding: 2rem 1rem;
    background-color: var(--color-ui-lightgrey);
    border: 1px solid lightgrey;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 5px;
  }

  /* Head to Head */
  /* .game-summary-container {
    display: flex;
    gap: 20px;
  }
  
  .game-summary-main {
    flex: 3;
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
  } */
  
  /* .game-summary-sidebar {
    flex: 1;
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 8px;
  } */

  .head-to-head-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }

  .head-to-head-header h1{
    margin: 0;
  }

  .series-record {
    font-weight: 600;
    color: var(--color-ui-grey);
    font-size: 1.05rem;
  }
  
  .head-to-head-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .head-to-head-link {
    text-decoration: none;
  }
  
  .head-to-head-tile {
    /* background-color: #333; */
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    /* align-items: center; */
    border: 1px solid lightgrey;
    color: var(--color-ui-black);
  }
  
  .match-teams {
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
  }
  
  .match-score {
    font-weight: bold;
    color: #2ed573;
  }
  
  .match-status, .match-date {
    font-size: 0.9rem;
    color: var(--color-ui-black);
  }
  
  .no-matches {
    text-align: center;
    color: #bbbbbb;
  }

  .team__headToHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    width: 100%;
  }


  .score__headToHead {
    font-size: 2rem;
  }

  .vs__headToHead {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
  }

  .vs__headToHead {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgrey;
  }

  .vs__headToHead span {
    background-color: white;
    padding: 0 0.5rem;
    z-index: 1;
  }

  .vs__headToHead::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: lightgrey;
    right: 0;
    left: 0;
    z-index: 0;
  }

  .team-name__headToHead {
    display: flex;
    /* flex-direction: column; */
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }

  .team-name__headToHead img {
    width: 3rem;
    aspect-ratio: 1/1;
  }

  .header__headToHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  