/* VERSION 1 */

/* .teamContainer {
    padding: 0 0 2rem;
} */

.division_title {
    display: flex;
}

.tile-list {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 700;
}

.teamContainer h1 {
    font-size: 2rem;
    color: rgb(29, 53, 113);
    margin-bottom: 0;
    font-weight: 900;
    font-family: var(--font-header);
}

.teamGrid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    padding: 2rem 0 0 0;
}

.conference_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1.5rem;
    border: 1px solid lightgrey;
}


.division_header {
    padding: 0 0 1rem 0;
    margin-bottom: 0.75rem;
}

.conference_container img {
    width: 5rem;
}

.division_grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    /* height: 100%; */
}

.teamTile_container {
    position: relative;
    display: grid;
    justify-items: center;
    padding: 1rem 0;
    /* transition: 250ms ease-in-out; */
    border-radius: 7px;
    /* overflow: clip; */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: var(--transition-main);
    cursor: pointer;
}

.teamTile_container:hover {
    transform: scale(1.05);
}

.container_open {
    background-color: var(--color-lightgrey);
    /* transform: scale(10); */
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 4;
}

.red_overlay {
    position: absolute;
    /* top: 20%; */
    bottom: 0;
    left: 0;
    right: 0;
    background-color: red;
    z-index: 4;
    /* opacity: 0; */
    height: 0;
    transition: var(--transition-main);
}

.open {
    opacity: 1;
    height: 80%;
}

.teamTile_overlay {
    position: absolute;
    /* top: 0; */
    /* bottom: 0.5rem; */
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    z-index: 3;
    color: white;
    opacity: 0;
    height: 0;
    /* width: 0; */
    transition: var(--transition-main);
    padding: 0.5rem 0;
}

.teamTile_container:hover .teamTile_overlay {
    opacity: 0.9;
    height: 35%;
    /* width: 100%; */
    border-radius: 7px 7px 0 0;
}

.logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    background: linear-gradient(0deg, white, var(--color-white));
    border-radius: 50%;
    padding: 0.75rem;
    aspect-ratio: 1/1;
    z-index: 1;
}

.icon_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 65%;
    background-color: var(--color-primary);
    z-index: 0;
    border-bottom: 2px solid white;
    border-radius: 7px 7px 0 0;
    overflow: hidden;
}

.red_underline {
    box-shadow: 0 3px 0 0 var(--color-red);
}

.white_underline {
    box-shadow: 0 3px 0 0 var(--color-white);
}

.blue_underline {
    box-shadow: 0 3px 0 0 var(--color-blue);
}

.red_logo {
    box-shadow: 0 0 0 3px var(--color-red);
}

.white_logo {
    box-shadow: 0 0 0 3px var(--color-white);
}

.blue_logo {
    box-shadow: 0 0 0 3px var(--color-blue);
}

.teamTile_container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 65%;
    background-image: url(/ice_texture2.png);
    background-size: cover;
    z-index: 0;
    opacity: 0.5;
    mix-blend-mode: soft-light;
}

.logo_container img {
    height: 100%;
    width: 100%;
}


.team_info {
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 0.5rem ;
    /* color: white; */
    /* color: var(--color-primary); */
    height: 2rem;
}

.teamTile_name {
    font-weight: 600;
    text-align: center;
    font-family: var(--font-header);
    font-size: 0.85rem;
    padding: 0 0.5rem;
}

.teamTile_mascotName {
    font-size: 1rem;
    text-align: center;
    font-family: var(--font-header);
    color: white;
    font-weight: 600;
    padding: 0.5rem 0 0 0;
}

.teamTile_city {
    position: relative;
    display: flex;
    justify-content: center;
    /* border-top: 1px solid var(--color-lightgrey); */
    font-family: var(--font-main);
    width: 100%;
    font-size: 0.75rem;
    padding: 0.5rem 0;
    transition: 250ms ease-in-out;
    color: white;
    font-weight: 300;
}

.location_icon {
    /* position: absolute; */
    /* aspect-ratio: 1/1; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    color: lightgrey;
}