.divDesc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font-header);
    font-weight: 500;
    font-size: 1.05rem;
    color: var(--color-ui-black);
}

.divDesc span {
    font-weight: 700;
}

.divDesc h2 {
    color: var(--color-primary);
}

.divDesc-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 0.5rem; */
    margin: 0 0 2rem;
    padding: 2rem 0;
    background-color: var(--color-primary);
    border-radius: 1rem;
    overflow: clip;
}

.divDesc-info {
    padding: 0 2rem;
    border-top: 3px solid var(--color-red);
}

.divDesc-header {
    align-self: start;
}

.divDesc-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    color: white;
    /* box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1); */
    /* border: 1px solid lightgrey; */
}

.divDesc-card p {
    margin-top: 2rem;
}

.divDesc-card:nth-of-type(2) {
    border: 1px solid;
    border-color: transparent rgb(30, 30, 90) transparent rgb(30, 30, 90);
}

.divDesc-icon {
    width: 7rem;
    aspect-ratio: 1/1;
}