.boxscore-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--font-header);
}

.boxScore-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxscore-controls {
  display: flex;
  justify-content: center;
}

.boxscore-btn {
  padding: 0.5rem;
  width: 14rem;
  background-color: #e9ecef;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
  font-family: var(--font-header);
  font-size: 1rem;
}

.boxscore-btn:first-of-type {
  border-radius: 5px 0 0 5px;
}

.boxscore-btn:last-of-type {
  border-radius: 0 5px 5px 0;
}

.boxscore-btn.active,
.boxscore-btn:hover {
  background-color: var(--color-ui-blue);
  color: #fff;
}

.boxscore-section {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: var(--border-radius);
  border: 1px solid lightgrey;
  overflow: hidden;
  /* border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey; */
}

.player-row,
.goalie-row {
  border-bottom: 1px solid lightgrey;
  padding: 1rem 0;
}

.player-row:last-of-type,
.goalie-row:last-of-type {
  border-bottom: none;
}

.skater-header__boxScore,
.goalie-header__boxScore,
.header-row {
  border-bottom: 1px solid lightgrey;
  /* border-top: 1px solid lightgrey; */
  font-weight: 700;
}

.header-row {
  background-color: var(--color-ui-lightgrey);
}

.player-row:hover {
  background-color: #e2e6ea;
}

.skater-header__boxScore,
.player-row,
.forwards-header__boxScore,
.defense-header__boxScore {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
  justify-items: center;
}

.goalie-row,
.goalies-header__boxScore {
  display: grid;
  grid-template-columns: 1fr 5fr repeat(6, 1fr);
  justify-items: center;
}

.player-name-header___boxScore,
.player-name__boxScore,
.goalie-name__boxScore,
.goalie-name-header__boxScore {
  justify-self: start;
}

.sortable-header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  position: relative;
  width: 100%;
}

.name-header__boxScore {
  justify-content: start;
}

.sort-arrow__up,
.sort-arrow__down {
  line-height: 0;
  font-size: 0.55rem;
  color: var(--color-ui-blue);
}

.sort-arrow__up {
  align-self: end;
  justify-self: center;
}

.sort-arrow__down {
  align-self: start;
  justify-self: center;
}

.skater-animated-row__boxScore {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.animated-row__boxScore.sorting {
  opacity: 0.075;
  transform: scale(0.97, 1);
}